* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 320px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    gap: 10px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    outline: none;
}

#add-task-btn {
    background: rgb(197, 73, 28);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#add-task-btn:hover {
    background:rgb(197, 73, 28);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

ul li {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

ul li:hover {
    background: #444;
}

.delete-btn {
    background: #e63946;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover {
    background: #c91d2b;
}

li span:hover{
    background: #333;
    cursor: pointer;
}

li span{
    font-size: 22px;
    border-radius: 50%;
    text-align: center;
}

ul li{
    position: relative;
    padding-left: 50px;
}

ul li::before{
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
    background-color: #7e22ce;

}